{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block head_title %}归档_{{ site_end_title }}{% endblock %}

{% block base_content %}
<div class="archive">
    {% regroup all_articles by create_date.year as year_list %}
    {% for year in year_list %}
    <div class="archive-year">{{ year.grouper }}年</div>
    {% regroup year.list by create_date.month as month_list %}
    {% for month in month_list %}
    <div class="archive-month">{{ month.grouper }}月</div>
        {% for article in month.list %}
        <div class="archive-item">
            <span class="archive-date">{{ article.create_date|date:"m-d" }}</span>
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </div>
        {% endfor %}
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}