{% extends 'blog/base.html' %}
{% load humanize %}
{% load blog_tags %}

{% block head_title %}{{ current_tag }}_{{ site_end_title }}{% endblock %}

{% block base_content %}
<div class="sort-tabs">
    {% url 'blog:index' as base_index %}
    {% url 'blog:index_hot' as hot_index %}
    <a class="sort-tab {% if request.path == base_index %}active{% endif %}" href="{{ base_index }}">
        <i class="fa fa-clock-o mr-1"></i>时间排序
    </a>
    <a class="sort-tab {% if request.path == hot_index %}active{% endif %}" href="{{ hot_index }}">
        <i class="fa fa-fire mr-1"></i>热度排序
    </a>
</div>

{% load_article_summary articles %}

{% if is_paginated %}{% load_pages %}{% endif %}
{% endblock %}