{% load blog_tags %}

<!-- 快捷入口 -->
<div class="sidebar-card">
    <h4 class="sidebar-card-title">
        <i class="fa fa-rocket"></i>快捷入口
    </h4>
    <div class="quick-links">
        <a href="{% url 'blog:index' %}" class="quick-link">
            <i class="fa fa-home"></i>
            <span>首页</span>
        </a>
        <a href="{% url 'blog:archive' %}" class="quick-link">
            <i class="fa fa-archive"></i>
            <span>归档</span>
        </a>
        <a href="{% url 'blog:about' %}" class="quick-link">
            <i class="fa fa-user"></i>
            <span>关于</span>
        </a>
    </div>
</div>

<!-- 分类列表 -->
<div class="sidebar-card">
    <h4 class="sidebar-card-title">
        <i class="fa fa-folder-open"></i>分类
    </h4>
    <ul class="category-list">
        {% get_categories as categories %}
        {% for category in categories %}
        <li class="category-item">
            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            <span class="category-count">{{ category.num_articles }}</span>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- 标签云 -->
<div class="sidebar-card">
    <h4 class="sidebar-card-title">
        <i class="fa fa-tags"></i>标签云
    </h4>
    <div class="tag-cloud">
        {% get_tags as tags %}
        {% for tag in tags %}
        <a class="tag-item" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>

<!-- 友链 -->
{% get_friends as friends %}
{% if friends %}
<div class="sidebar-card">
    <h4 class="sidebar-card-title">
        <i class="fa fa-link"></i>友链
    </h4>
    <div class="friends-list">
        {% for friend in friends %}
        <div class="friend-item">
            <img src="{{ friend.avatar }}" alt="{{ friend.name }}">
            <a href="{{ friend.link }}" target="_blank">{{ friend.name }}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}