{% load static %}
<a class="left-nav-item{% if request.path == '/' %} active{% endif %}" href="{% url 'blog:index' %}" title="首页">
    <i class="fa fa-home"></i>
    <span>首页</span>
</a>
<a class="left-nav-item{% if '/archive' in request.path %} active{% endif %}" href="{% url 'blog:archive' %}" title="归档">
    <i class="fa fa-archive"></i>
    <span>归档</span>
</a>
<a class="left-nav-item" href="https://github.com/tao625" target="_blank" title="GitHub">
    <i class="fa fa-github"></i>
    <span>GitHub</span>
</a>
<a class="left-nav-item" href="{% url 'blog:about' %}" title="关于">
    <i class="fa fa-info-circle"></i>
    <span>关于</span>
</a>
<button class="left-nav-item" id="leftThemeToggle" title="切换主题">
    <i class="fa fa-moon-o" id="leftThemeIcon"></i>
    <span>主题</span>
</button>
<script>
(function() {
    var toggleBtn = document.getElementById('leftThemeToggle');
    var icon = document.getElementById('leftThemeIcon');
    var html = document.documentElement;

    function setTheme(isDark) {
        if (isDark) {
            html.setAttribute('data-theme', 'dark');
            icon.className = 'fa fa-moon-o';
            localStorage.setItem('theme', 'dark');
        } else {
            html.setAttribute('data-theme', 'light');
            icon.className = 'fa fa-sun-o';
            localStorage.setItem('theme', 'light');
        }
    }

    // 同步图标状态
    var savedTheme = localStorage.getItem('theme');
    if (savedTheme === 'light') {
        icon.className = 'fa fa-sun-o';
    } else {
        icon.className = 'fa fa-moon-o';
    }

    if (toggleBtn) {
        toggleBtn.addEventListener('click', function() {
            var isDark = html.getAttribute('data-theme') !== 'light';
            setTheme(!isDark);
        });
    }
})();
</script>