{% load static %}
<a class="left-nav-item{% if request.path == '/' %} active{% endif %}" href="{% url 'blog:index' %}" title="首页">
    <i class="fa fa-home"></i>
    <span>首页</span>
</a>
<a class="left-nav-item{% if '/archive' in request.path %} active{% endif %}" href="{% url 'blog:archive' %}" title="归档">
    <i class="fa fa-archive"></i>
    <span>归档</span>
</a>
<a class="left-nav-item" href="https://github.com/tao625" target="_blank" title="GitHub">
    <i class="fa fa-github"></i>
    <span>GitHub</span>
</a>
<a class="left-nav-item" href="{% url 'blog:about' %}" title="关于">
    <i class="fa fa-info-circle"></i>
    <span>关于</span>
</a>